/*分页样式*/
.page{display: block;margin: 0 auto;width: 280px;height:40px; overflow:hidden;margin-top: 10px;font-size: 14px;}
.page a{ float:left; padding:1px 5px; margin:0 2px; border-radius:5px; background:#eee; color:#777; line-height:16px; height:18px; overflow:hidden}
.page a:hover{ background:#64b2c9; color:#fff;}
.page span{ float:left; padding:1px 5px; margin:0 2px; border-radius:5px; background:#eee; color:#777; line-height:16px; height:18px; overflow:hidden}
.page span.current { background-color:#64b2c9;color:#fff;}
.page .flickr {display:none;margin: 0 auto;}
.pagelist{ clear:both; display:block; margin:0 0 20px 0; }
.pagelist:after{ clear:both; content:"."; display:block; height:0; visibility:hidden; }
.pagelist .l-btns{ display:block; float:left; margin:0 5px 0 0; padding:0 10px; border:1px solid #dbdbdb; height:28px; overflow:hidden; }
.pagelist .l-btns span{ font-size:12px; color:#333; line-height:28px; }
.pagelist .l-btns .pagenum{ display:inline-block; margin:0 5px; padding:0 5px; border:1px solid #dbdbdb; border-top:0; border-bottom:0; width:30px; height:28px; line-height:28px; font-size:12px; color:#333; text-align:center; vertical-align:top; overflow:hidden; }
div.default{ margin:10px 0 10px 0; padding:0; text-align:center;font-size:12px; }
div.default a,div.default span{ display:inline-block; margin:0 0 0 -1px; padding:5px 15px; line-height:28px; height:28px; border:1px solid #e1e1e1; background:#fff; color:#333; text-decoration:none;font-size: 14px;}
div.default span:first-child{ border-left:1px solid #e1e1e1; }
div.default a:hover{ color:#666; background:#eee; }
div.default span.current{ color:#fff; background:#DD344F; border-color:#DD344F; }
div.default span.disabled{ color:#999; background:#fff; }